* {
    margin: 0px;
    padding: 0px;

}

body {
    font-family: sans-serif;
    font-weight: 450;
    overflow-x: hidden;
}

.navi {
    border: 1px solid rgb(217, 217, 217);
    background-color: rgb(217, 217, 217);
    height: 75px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
}

.menu ul {
    position: absolute;
    right: 30px;
    top: 10px;
    padding-top: 10px;
}

.menu ul li {
    display: inline;
    padding-right: 35px;
    font-size: 23px;

}

.logo {
    position: absolute;
    top: 2px;
    left: 45px;
    display: flex;
}

.logo img {
    height: 75px;
    width: 75px;
}

.logo label {
    font-size: 30px;
    margin-top: 15px;
    margin-left: 10px;
}

/* =======section 1 ============ */

.sec1 {
    position: relative;
    top: 80px;
    left: 105px;
    border: 1px solid rgb(217, 217, 217);
    background-color: rgb(217, 217, 217);
    height: 200px;
    width: 1165px;
}

.img_box {
    position: absolute;
    top: 85px;
    left: 550px;

}

.img_box label {
    font-size: 30px;
}


/* ============section 2 ======================== */

.sec2 {
    position: relative;
    top: 240px;
    border: 1px solid transparent;
    height: 435px;
    margin-left: 105px;
    margin-right: 76px;
    display: flex;
    text-align: left;
}

.pera1 {
    position: absolute;
    left: 20px;
    top: 0px;
    border: 1px solid transparent;
    width: 445px;
    height: 390px;
    text-align: left;

}

.pera1 h2 {
    font-size: 24px;

}

.pera1 p {
    line-height: 1;
    font-size: 24px;

}

.pera2 {
    position: absolute;
    right: 20px;
    top: 0px;
    border: 1px solid transparent;
    width: 445px;
    height: 390px;
    text-align: left;

}

.pera2 h2 {
    font-size: 24px;

}

.pera2 p {
    line-height: 1;
    font-size: 24px;
}

/* =====================section 3=======================  */

.sec3 {
    position: relative;
    top: 300px;
    left: 105px;
    border: 1px solid rgb(217, 217, 217);
    background-color: rgb(217, 217, 217);
    border-radius: 30px;
    height: 300px;
    width: 1165px;
}

.al {
    position: absolute;
    top: 46%;
    left: 60px;
}

.al label {
    font-size: 30px;
}

.scroller {
    position: absolute;
    top: 46%;
    left: 46%;
}

.scroller label {
    font-size: 30px;
}

.ar {
    position: absolute;
    top: 46%;
    right: 60px;
}

.ar label {
    font-size: 30px;
}

.dot_img {
    position: absolute;
    left: 535px;
    bottom: 10px;
}

/* ================sectio 4 ====================== */

.sec4 {
    position: relative;
    top: 410px;
    border: 1px solid transparent;
    height: 290px;
    margin-left: 105px;
    margin-right: 76px;
    display: flex;
    text-align: left;
}

.img_part {
    position: absolute;
    top: 30px;
    left: 10px;
    border: 1px solid rgb(217, 217, 217);
    background-color: rgb(217, 217, 217);
    height: 245px;
    width: 500px;
}

.img_part label {
    font-size: 30px;
    position: absolute;
    top: 110px;
    left: 201px;
}

.pera3 {
    position: absolute;
    right: 40px;
    top: 30px;
    border: 1px solid transparent;
    width: 470px;
    height: 260px;
    text-align: left;

}

.pera3 h2 {
    font-size: 24px;

}

.pera3 p {
    line-height: 1;
    font-size: 24px;
}

/* ================= footer  ================== */

.ftr {
    position: relative;
    top: 520px;
    left: 100px;

}

.ftsec {
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
    height: 320px;
    width: 1050px;
    background-color: rgb(217, 217, 217);
    position: absolute;
    left: 50px;
}

.ftsec img {
    height: 285px;
    width: 1013px;
    position: absolute;
    top: 20px;
}

.span {
    border: 1px solid transparent;
    position: relative;
    top: 950px;
}